.Clock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 20px;
    color: white;
    margin-right: 1%;
  }
  
  .Time {
    text-align: center;
  }
  
  .Date {
    text-align: right;
  }
  